<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      >
      
      <head>
        <title>Source - New</title>
    </head>
    <body>
        
        <form action="/biocreation/category" method="post">
  <label for="fname">product_category_name</label><br>
  <input type="text" id="product_category_name" name="product_category_name" value="Biofertilizers"><br>
  <label for="lname">product_category_info</label><br>
  <textarea id="product_category_info" name="product_category_info" value="Doe"></textarea><br><br>
  <input type="submit" value="Submit">
</form> 
    	
    </body>
    
</html>